body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 230, 230);
    font-size: 55px;
    font-family: roboto;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.gameContainer {
    display: flex;
    justify-content: center;
}

.playerImgs , .computerImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.imgP {
    display: flex;
    width: 300px;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    
}

.ties {
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-weight: 200;
}

.playerScore {
    display: flex;
    margin-left: 20px;
    font-family: roboto;
}

.computerScore {
    display: flex;
    margin-left: 20px;
    font-family: roboto;
}

.pGameContainer{
    display: flex;
    border: solid 1px gainsboro;
    padding: 20px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: rgb(236, 240, 244);
}

.bodyHolder {
    background-color: rgb(231, 231, 231);
}