body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 230, 230);
    font-size: 55px;
    font-family: roboto;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.gameContainer {
    display: flex;
    justify-content: center;
}

.playerImgs , .computerImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.imgP {
    display: flex;
    width: 200px;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}